<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            body, h1,h2,h3,h4,h5,h6 { font-family: "Montserrat", sans-serif; }
            td{ padding: 10px; }
            tr{ text-align: center; font-weight: bold;}
            body { min-height: 75rem;padding-top: 4.5rem;}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Stock Patterns 'R' Us</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">About Candlestick Patterns<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/findPatterns">Scan for Patterns</a>
                </li>
              </ul>
              <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
      
          <main role="main" class="container">
            <div class="jumbotron">
              <h1>What is a Candlestick Pattern?</h1>
              <br>
              <p class="lead">
                Candlestick patterns are technical trading tools that have been used for centuries to predict price direction. 
                By packing data for multiple time frames into single price bars. 
                This makes them more useful than traditional open-high, low-close bars or simple lines that connect the dots of closing prices. 
                Candlesticks build patterns that predict price direction once completed.<br><br>

                Investors use candlestick charts to identify most reliable patterns for a greater understanding of price action, 
                and now so can you!                
            </p>              
              <br>
              <h1>Video Summary for How To Read Candlestick Charts</h1>
              <br>
              <p><iframe width="560" height="315" src="https://www.youtube.com/embed/bAPDIqVadIE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            
              <p class="lead"> Some patterns you may want to check out include:
                <ul>
                    <li><a href="https://www.investopedia.com/terms/b/bullishharami.asp" target="_blank">Harami Pattern</a></li>
                    <li><a href="https://www.investopedia.com/terms/n/neck-pattern.asp" target="_blank">In-Neck Pattern</a></li>
                    <li><a href="https://www.investopedia.com/terms/s/spinning-top.asp" target="_blank">Spinning Top</a></li>
                </ul>
            </p>
              <a class="btn btn-lg btn-primary" href="/findPatterns" role="button">Start scanning for patterns &raquo;</a>

          </main>
      
          <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
          <script src="../../assets/js/vendor/popper.min.js"></script>
          <script src="../../dist/js/bootstrap.min.js"></script>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>